<div id='comment-<%= comment.id%>'>

  <div class="row">

    <div class="col-10">
      [<%=comment.created_at.strftime('%I:%M %P')%>]<%= comment.user.email%>:
      <%=comment.content%>
    </div>

    <div class="col-2">
      <% if current_user && current_user == comment.user %>

        <a href="<%= edit_comment_path(comment) %>" data-remote="true">
          <i class="fa fa-edit"></i>
        </a>

        <span> | </span>

        <a class="text-danger" href="<%= comment_path(comment) %>" data-remote="true" rel="nofollow"
        data-method="delete">
          <i class="fa fa-trash"></i>
        </a>

      <% end%>
    </div>

  </div>
</div>
